﻿@model DropboxService.Models.EntityViewModel

<div class="row">
    <div class="col-md-2 col-lg-2 hidden-sm hidden-xs">
        
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div id="body">
            <div>
                <div class="col-lg-6">
                    <form method="post" action="~/Home/CreateFolder">
                        <input name="folderName" />
                        <input name="filePath" type="hidden" value="@Model.Path" />
                        <input type="submit" value="Create Folder" />
                    </form>
                </div>
                <div class="col-lg-6">
                    <form>
                        <input id="submitButton" type="submit" value="Delete" style="margin-bottom:20px"/>
                    </form>
                </div>
            </div>
            <div style="width:100%; margin-top:20px">
                <table class="record_table" style="width:100%; border:1px solid #aaa;" border="0" cellspacing="0" cellpadding="5">

                    <tr style="background:#eee;">
                        <th>

                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Size
                        </th>
                        <th>
                            Date modified
                        </th>
                    </tr>

                    @foreach (var item in Model.Folders)
                    {
                        <tr>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                <input type="checkbox" />
                            </td>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                <img src="https://www.dropbox.com/static/images/icons/@(item.Icon).gif" />
                                @Html.ActionLink(item.Name, "BrowseInFolder", new { filePath = item.Path })
                            </td>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                
                            </td>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                @Html.DisplayFor(x => item.Modified)
                            </td>
                        </tr>
                    }

                    @foreach (var item in Model.Files)
                    {
                        <tr>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                <input type="checkbox" />
                            </td>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                <img src="https://www.dropbox.com/static/images/icons/@(item.Icon).gif" />
                                @Html.ActionLink(item.Name, "BrowseInFolder", new { filePath = item.Path })
                            </td>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                @Html.DisplayFor(x => item.Size)
                            </td>
                            <td style="border:1px solid #ccc; border-width:1px 1px 0 0;">
                                @Html.DisplayFor(x => item.Modified)
                            </td>
                        </tr>

                    }

                </table>

            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 hidden-sm hidden-xs">

    </div>
</div> 
<script>
    $(document).ready(function () {
        $('.record_table tr').click(function (event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        });
    });
</script>

<script>
 $(document).ready(function(){
  $("#submitButton").on("click",function()
  {
   alert('Not implemented');
  });

});
</script>

