﻿@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-md-2 col-lg-2 hidden-sm hidden-xs">

    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div id="body">
            <div style="text-align:center">
                <a href="@ViewBag.Url" class="btn btn-default">Authenticate with Dropbox</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 hidden-sm hidden-xs">

    </div>
</div> 

